<!DOCTYPE html>
<html lang="en">

<head>
  <title>Carrito de compras</title>
  <link rel="stylesheet" href="/css/carritoCompra.css"></link>
  <%-include("../partials/head")%>
  <%-include("../partials/header")%>
</head>

<body class="body">
    <main>
        <div class="contenedor">
            <div class="encabezado">
              <h3>Resumen del carrito</h3>
            </div>
            <div class="informacion-compra">
                  <div class="contenedor-item">
                      <b>Producto</b>
                  </div>
                  <div class="contenedor-item">
                    <b>Nombre</b>
                </div>
                  <div class="contenedor-item">
                      <b>Precio (COP)</b>
                  </div>
                  <div class="contenedor-item">
                      <b>Cantidad</b>
                  </div>
                  <div class="contenedor-item">
                      <b>Total (COP)</b>
                  </div>
            </div>
            <div class="productos">
            </div>
            <div class = "total">
              <h5><b>Total (COP):</b></h5>
            </div>
            <div class = "botones">
              <a class="btn btn-dark" href="/carritoProducto" id="LimpiarCarrito">  Limpiar Carrito</a>
              <button class="boton" id="FinalizarCompra"> Finalizar Compra</button>
            </div>
          </div>
  </main>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/mostrarCarrito.js"></script>
  <%-include("../partials/footer")%> 
</body>
</html>